.bouton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(252, 7, 7);
    color: white;
    background-color: black;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}

.affichage {
    border: solid 2px black;
    width: 100px;
    height: 100px;
    display: flex 1;

}
.carre {
    width: 50px;
    height: 50px;
    background-color: rgb(233, 35, 35);
    margin: 1px;
}
.cercle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    border: 2px solid black;
}